/* hieuung.css */

a.my-link {
    text-decoration: none; /* Loại bỏ gạch chân dưới liên kết */
    color: #000; /* Màu chữ mặc định của liên kết */
    transition: color 0.3s; /* Hiệu ứng chuyển đổi màu trong 0.3s */
  }
  
  a.my-link:hover {
    color: #FFA500; /* Màu chữ cam khi rê chuột qua liên kết */
  }
  